.section3 {
    width: 600px;
    height: 60px;
    margin: auto;

    background-color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 10px;
}

.section3 img{
    width: 80px;
    height: 20px;
}